<%- include('layouts/header.ejs') %>
      <!--end of navbar-->


      <br>


       <!--Start of title-->
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="text-center">Education</h1>

          </div>
          </div>
          </div>

          <hr>


      <!--End of title-->
      

      <!--Start of high school-->
      <div class="container">
        <div class="row">
          <div class="col-4 text-center">
            <h3><strong>Rich South High School</strong></h3>
            <img src="../IMG/Rich South.jpg" alt="high school" width="75%">

          </div>
          <div class="col-4 text-center my-auto">
            <h5> High School</h5>
            <p>Graduated 1991</p>
            
          </div>
          <div class="col-4 text-center my-auto">
            <img src="../IMG/High School football.gif" alt="football" width="50%">
            
          </div>
          <div class="col-4 text-center">
            
          </div>
        </div>
      </div>
      <!--End of high school-->

      <hr>

      <!--Start of Community College-->
      <div class="container">
        <div class="row">
          <div class="col-4 text-center">
            <h3><strong>Central Texas College</strong></h3>
            <img src="../IMG/Central Texas College.jpg" alt="Central Texas" width="75%">

          </div>
          <div class="col-4 text-center my-auto">
            <h5> Associates of Science</h5>
            <p>Global War on terroism began. I was unable to continue my education.</p>
            
          </div>
          <div class="col-4 text-center my-auto">
            <img src="../gif/Army.gif" alt="army" width="75%">
            
          </div>
          <div class="col-4 text-center">
            
          </div>
        </div>
      </div>

      <!--End of Community College-->

      <hr>

      <!--Start of Community College-->
      <div class="container">
        <div class="row">
          <div class="col-4 text-center my-auto">
            <h3><strong>San Antonio College</strong></h3>
            <img src="../IMG/San-Antonio-College-Alamo-College-District.jpg" alt="San Antonio College" width="75%">

          </div>
          <div class="col-4 text-center my-auto">
            <h5> Associates in Science</h5>
            <p>After retiring from the military, I made the decision to finish my education</p>
            <p>Graduated in 2021</p>

          </div>
          <div class="col-4 text-center my-auto">
            <img src="../gif/running.gif" alt="running" width="75%">
            
          </div>
          <div class="col-4 text-center">
            
          </div>
        </div>
      </div>

      <!--End of Community College-->

      <hr>

      <!--Start of University-->
      <div class="container">
        <div class="row">
          <div class="col-4 text-center">
            <h3><strong>Texas A&M San Antonio</strong></h3>
            <img src="../IMG/Texas A&M-San Antonio.jpg" alt="Texas A&M" width="75%">

          </div>
          <div class="col-4 text-center">
            <h5>Bachlors of Arts and Science</h5>
            <p>I am current attending the University right now. I'm on track to graduate in the fall.</p>
            
          </div>
          <div class="col-4 text-center">
            <img src="../gif/graduation.gif" alt="running" width="75%">
            
          </div>
          <div class="col-4 text-center">
            
          </div>
        </div>
      </div>

      <!--End of University-->

      <hr>
       
      <br>
      <br>
      <br>

    <!--bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>