<%- include('layouts/header.ejs') %>


      <br>

       <!--Start of title-->
       <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="text-center">Experience</h1>

          </div>
          </div>
          </div>
          <!--End of title-->

          <hr>

          <!--Start of School-->
          <div class="container">
            <div class="row">
              <div class="col text-center">
                <h3><strong>Texas A&M University - San Antonio</strong></h3>
              </div>
            </div>
            <div class="row">
            <div class="col-4 text-center">
              <img src="../gif/tamusa.gif" alt="tamusa" width="60%">

            </div>
            <div class="col-4 text-center">
              <br>
              <ul>
                <li>
                  <p>Currently enrolled at the University. If everything goes as planned, I will graduate in the fall.</p>
                </li>
                <li>
                  <p>Trying to be the best student I can be.</p>
                </li>
                <li>
                  <p>I would like to go to grad school, so I need to bring my gpa up.</p>
                </li>
              </ul>

            </div>
            <div class="col-4 text-center my-auto">
              <h5>January 2021 -Present</h5>
              <img src="../gif/tamusa.gif" alt="tamusa" width="60%">

            </div>
          </div>
          </div>

          <!--End of School-->

          <hr>

          <!--Start of Military-->
          <div class="container">
            <div class="row">
              <div class="col text-center my-auto">
                <h3><strong>United States Army</strong></h3>
              </div>
            </div>
            <div class="row">
            <div class="col-4 text-center my-auto">
              <img src="../gif/United States Army.gif" alt="army" width="60%">

            </div>
            <div class="col-4 text-center">
              <br>
              <ul>
                <li>
                  <p>I joined the US military right out of High School.</p>
                </li>
                <li>
                  <p>I deployed to Operation Iraqi Freedom and supported the Global War on terroism.</p>
                </li>
                <li>
                  <p>After 23 years, it was time to hang up my boots and retire.</p>
                </li>
              </ul>

            </div>
            <div class="col-4 text-center my-auto">
              <h5>1991 - 2016</h5>
              <img src="../gif/United States Army.gif" alt="tamusa" width="60%">

            </div>
          </div>
          </div>

          <!--End of Military-->
      
      <br>
      <br>
      <br>

    <!--bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>