<%- include('layouts/header.ejs') %>
      <!--start of carousel -->
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active text-center">
            <img src="IMG/duty.jpg" alt="slide1" style="width: 500px;height:600px">
          </div>
          <div class="carousel-item text-center">
            <img src="IMG/Field.jpg" alt="slide2" style="width: 500px;height:600px">
          </div>
          <div class="carousel-item text-center">
            <img src="IMG/IMG_20151015_131234758_HDR.jpg" alt="slide3" style="width: 500px;height:600px">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!--end of carousel -->

      <br>

      <!--start of gifs-->
      <div class="container">
        <div class="row">
          <div class="col-2">
           <img src="gif/RERE.gif" alt="RERE" width="60%">
           </div>

            <div class="col-2">
            <img src="gif/RERE.gif" alt="dave" width="60%">
            </div>

            <div class="col-4">
            <img src="gif/Dollars.gif" alt="dave" width="70%">
            </div>
            <div class="col-2">
              <img src="gif/RERE.gif" alt="dave" width="60%">
            
            </div>
            <div class="col-2">
              <img src="gif/RERE.gif" alt="dave" width="60%">
            
          </div>
        </div>
      </div>
    

          
      <!--end of gifs-->

      <hr>
      <br>

      <div class="container">
        <div class="row">
        <div class="col-2">
          <img src="IMG/Bitmoji.png" alt="Bitmoji" width="60%">
        </div>
        <div class="col-8 text-center">
        <h1>GET SOME!!!</h1>
        <br>
        <p> Welcome to my website</p>
        </div>
        <div class="col-2">
          <img src="IMG/Bitmoji.png" alt="Bitmoji" width="60%">

        </div>
      </div>

      <hr>
      <br>

      <div class="container">
        <div class="row text-center">
          <div class="col text-center">
            <video poster="IMG/IMG_20210130_162051.jpg" alt="slide1" style="width: 500px;height:600px" controls ><source src="vid/VID_20210218_115349.mp4" type="video/mp4"></video>
          </div>
        </div>
      </div>

      
      <br>
      <br>
      <br>

    <!--bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>