<%- include('layouts/header.ejs') %>


      <br>

      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="text-center">PROJECTS</h1>

          </div>
        </div>
      </div>

      <hr>

      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="card p-4" style="width: 18rem;">
            <img src="../IMG/work from home.jpg" class="card-img-top" alt="work">
            <div class="card-body">
              <h5 class="card-title">Work</h5>
              <p class="card-text">Work from home.</p>
              
            </div>
          </div>

          <div class="card p-4" style="width: 18rem;">
            <img src="../IMG/beard.jpg" class="card-img-top" alt="beard">
            <div class="card-body">
              <h5 class="card-title">Flaming Beard</h5>
              <p class="card-text">Flames.</p>
              
            </div>
          </div>

          <div class="card p-4" style="width: 18rem;">
            <img src="../IMG/mask.jpg" class="card-img-top" alt="mask">
            <div class="card-body">
              <h5 class="card-title">Mask</h5>
              <p class="card-text">Mask.</p>
              
            </div>
          </div>

          <div class="card p-4" style="width: 18rem;">
            <img src="../IMG/Old men.jpg" class="card-img-top" alt="old">
            <div class="card-body">
              <h5 class="card-title">Grandpa</h5>
              <p class="card-text">Old Dudes.</p>
              
            </div>
          </div>
        </div>
      </div>
      
      <br>
      <br>
      <br>

    <!--bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>