body {
    background-color: black;
}

h1, h2, h3, h4, h5, h6, p, label{
    color: white;
}

hr {
    background-color: blue;
    height: 10px;
}

.contactform {
    border: solid;
    border-color: dimgray;
}

.card {
    background-color: gray;
}